[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
openai = ">=1.0.0"
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-jwt-extended = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-bcrypt = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.8"
